.heading {
  margin-top: 35px;

  .logo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo-left{
    display: flex;
    gap: 5px;

    .img-logo{
      width: 55px;
      height: 55px;
      margin-top: -10px;
    }
  }
  .logo-right {
  display: flex;
  align-items: center;
  gap: 15px;

  }
  .text {
    display: flex;
    align-items: center;
    margin: 0px;
    margin-bottom: -5px;
  }

  .form-group {
    display: flex;
    align-items: flex-start;
    position: relative;
  }
  
  .dropdown-label {
  position: absolute;
  top: -18px; 
  left: 1px;
  font-size: 14px;
  font-weight: bold;
  color: #333
  }
  
  .dropdown-option {
    padding: 5px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
    outline: none;
    transition: border-color 0.3s;
  
    &:hover {
      border-color: #007bff;
    }
  
    &:focus {
      border-color: #0056b3;
      box-shadow: 0 0 5px rgba(0, 91, 187, 0.5);
    }
  }
  

  .search-container {
    display: flex;
    align-items: center;
    background: white;
    border-radius: 25px;
    padding: 8px 15px;
    width: 250px; 
    border: 1px solid #ddd;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  }

  .search-input {
    border: none;
    outline: none;
    flex: 1;
    font-size: 14px;
    background-color: white;
  }

  .search-icon {
    font-size: 18px;
    color: #555;
    cursor: pointer;
  }
  
}

.container {
  margin: auto;

  table {
    width: 100%;
    margin-top: 15px;
  }

  th,
  td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
  }

  th {
    background: #f4f4f4;
  }

  button {
    margin-top: 40px;
    margin-right: 5px;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
  }

}
.btn.btn-custom {
  font-size: 15px;
  padding: 9px 20px;
  color: black;
}

.icon-group {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.loader-spin {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .spinner-loader {
    color: blue;
  }
}

.data-found{
  display: flex;
  justify-content: center;
  margin-top: 50px;
  font-size: 23px;
}
.btn-container{
  width: 40%;
    display: flex;
    justify-content: center;
    margin: 25px 315px 1px 315px;
}
.btn-state{
  background-color: black;
  color: whitesmoke;
  border-radius: 15px;
}
.add-user-btn{
      display: flex;
      width: 100%;
      background-color:#470d21;
      padding: 10px 20px;
      border-radius: 12px;
      color: white;
      cursor: pointer;
      border: none;
}
.logout-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;

  .btn-full{
    width: 50%;
    text-align: center;
    margin-left: 120px;
  }

}
