<div class="button">
  <a routerLink="/expense">
    <i class="fa-solid fa-circle-arrow-left"></i>
  </a>
</div>
<div class="container">
  <button class="btn btn-green btn-small">FAQs</button>
  <h1>Welcome to Zoho Expense</h1>
  <p>
    Have questions about using Zoho Expense? Read our FAQs to find simple
    answers for the most commonly asked questions.
  </p>
  <div class="img">
    <img src="/images/dashboard.png" alt="Expense Tracker" />
  </div>
</div>
<div class="roles-section">
  <h2>What's your role?</h2>
  <p>
    Access the FAQs based on the user role that has been assigned to you in Zoho
    Expense
  </p>

  <div class="cards">
    <div class="card">
      <div class="icon admin-icon">👑</div>
      <h3 class="admin-text">Admin</h3>
      <p class="card-inner-text">
        Find answers to the frequently asked questions about setting up your
        organization, inviting users, assigning user roles, configuring the
        product preferences, approvals, and so on.
      </p>

      <button class="btn btn-blue custom-button">View FAQ</button>
    </div>

    <div class="card">
      <div class="icon approver-icon">🧍‍♂️</div>
      <h3 class="approver-text">Approver</h3>
      <p class="card-inner-text">
        Get to know the commonly asked questions on approving or rejecting the
        records submitted for approval.
      </p>
      <button class="btn btn-blue custom-button">View FAQ</button>
    </div>

    <div class="card">
      <div class="icon submitter-icon">👤</div>
      <h3 class="submitter-text">Submitter</h3>
      <p class="card-inner-text">
        Clear your doubts on recording expenses, submitting expense reports,
        requesting advances, creating travel requests, and so on.
      </p>
      <button class="btn btn-blue custom-button">View FAQ</button>
    </div>
  </div>
</div>
<div class="roles-section">
  <h1 class="custom-text">Effortless expense reporting, guaranteed.</h1>
  <p>
    Zoho Expense – Expense reporting software designed to lessen your burden.
  </p>
  <button class="btn btn-blue btn-large">Try It For Free</button>
</div>
