<div class="card">
  <p-imagecompare class="shadow-lg rounded-2xl">
    <ng-template #left>
      <img
        src="https://primefaces.org/cdn/primevue/images/compare/island1.jpg"
      />
    </ng-template>
    <ng-template #right>
      <img
        src="https://primefaces.org/cdn/primevue/images/compare/island2.jpg"
      />
    </ng-template>
  </p-imagecompare>
</div>

<!-- <p-chart type="bar" [data]="basicData" [options]="basicOptions" />

<div class="pie-chart">
  <p-chart
    type="pie"
    [data]="data2"
    [options]="options2"
    class="w-full md:w-[30rem]"
  />
</div>

<div class="card pie-width">
  <p-chart
    type="doughnut"
    [data]="data3"
    [options]="options3"
    class="w-full md:w-[30rem]"
  />
</div> -->
